

    @font-face {
      font-family: bookmaniaBlackItalic;
      src: url(assets/Bookmania\ Black\ Italic.otf);
    }

    @font-face {
      font-family: bookmaniaSemi;
      src: url(assets/Bookmania\ SemiBold.otf);
    }

    @font-face {
      font-family: bookmaniaLightItalic;
      src: url(assets/Bookmania\ Light\ Italic.otf);
    }

    @font-face {
      font-family: bookmaniaLight;
      src: url(assets/Bookmania\ Light.otf);
    }

    @font-face {
      font-family: SFLight;
      src: url(assets/SF-Pro-Display-Ultralight.otf);
    }

    @font-face {
      font-family: SFBold;
      src: url(assets/SF-Pro-Display-Bold.otf);
    }

    @font-face {
      font-family: SFText;
      src: url(assets/SF-Pro-Text-Regular.otf);
    }

    @font-face {
      font-family: Printvetica;
      src: url(assets/Printvetica.otf);
    }

  	body{
      cursor: url(assets/paw1.png), auto;
			margin: 0;
			font-family: 'SFText';
			font-weight:100;
		}
		.container{
			width: 75%;
			margin: 0 auto;
			padding-top: 7px;
		}
		header{
			background-color: rgb(51,51,51);
			width: 100%;
			height: 43px;
      margin-bottom: 275px;
		}
		#logo{
      color:#d6d6d6;
      font-size: 22px;
			position: absolute;
      top: 8px;
			left: 12%;
			float: left;
			margin-top: 1px;
		}
    #logo:hover{
      cursor:pointer;
			opacity: .6;
			transition: .3s;
		}
		nav{
			position: absolute;
			left: 19%;
			margin-top: 4px;
		}
		nav a{
			text-decoration: none;
			color: #c4c4c4;
			margin-right: 50px;
			font-size: 12px;
      font-weight: 400;
      letter-spacing: -.01em;
		}

		nav a:hover{
			opacity: .5;
			transition: .3s;
		}
		.right{
			float: right;
		}
		#contact{
			position: absolute;
			right: 244px;
			margin-top: 7px;
      color:#c4c4c4;
      font-weight: normal;
		}
    #contact:hover{
      opacity: .5;
			transition: .3s;
      cursor:pointer;
    }
		#arrow{
      color:#c4c4c4;
			margin-top: 6px;
			margin-right: -3px;
		}
    #arrow:hover{
      opacity: .5;
			transition: .3s;
      cursor:pointer;
    }
		

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url(assets/banner.png) no-repeat;
      background-size: fill;
    }
}

.text-center {
    text-align: center!important;
}

.error {
    font-family: SFBold;
    position: absolute;
    top: 20%;
    left: 42%;
    color: #009c15;
    font-size: 7rem;
    line-height: 1;
    width: 12.5rem;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 106),
    0 0 82px #0fa,
    0 0 92px rgb(0, 255, 64),
    0 0 102px #0fa,
    0 0 151px rgb(145, 255, 0);
}

.mx-auto {
    margin: auto;
}

.error:before {
    content: attr(data-text);
    position: absolute;
    left: 8px;
    text-shadow: 1px 0 #4e73df;
    top: 0;
    color: #5a5c69;
    background: rgb(51,51,51);
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.error:after {
    content: attr(data-text);
    position: absolute;
    left: 14px;
    text-shadow: -1px 0 #e74a3b;
    top: 0;
    color: #65666d;
    background: rgb(51,51,51);
    overflow: hidden;
    clip: rect(0,900px,0,0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim{
  0%{clip:rect(89px,9999px,100px,0)}
  5%{clip:rect(4px,9999px,62px,0)}
  10%{clip:rect(43px,9999px,16px,0)}
  15%{clip:rect(2px,9999px,68px,0)}
  20%{clip:rect(12px,9999px,6px,0)}
  25%{clip:rect(89px,9999px,25px,0)}
  30%{clip:rect(15px,9999px,38px,0)}
  35%{clip:rect(57px,9999px,97px,0)}
  40%{clip:rect(24px,9999px,72px,0)}
  45%{clip:rect(81px,9999px,3px,0)}
  50%{clip:rect(93px,9999px,26px,0)}
  55%{clip:rect(68px,9999px,85px,0)}
  60%{clip:rect(43px,9999px,28px,0)}
  65%{clip:rect(44px,9999px,11px,0)}
  70%{clip:rect(17px,9999px,33px,0)}
  75%{clip:rect(74px,9999px,66px,0)}
  80%{clip:rect(100px,9999px,4px,0)}
  85%{clip:rect(92px,9999px,31px,0)}
  90%{clip:rect(93px,9999px,98px,0)}
  95%{clip:rect(23px,9999px,77px,0)}
  100%{clip:rect(92px,9999px,8px,0)}
}

@keyframes noise-anim{
  0%{clip:rect(89px,9999px,100px,0)}
  5%{clip:rect(4px,9999px,62px,0)}
  10%{clip:rect(43px,9999px,16px,0)}
  15%{clip:rect(2px,9999px,68px,0)}
  20%{clip:rect(12px,9999px,6px,0)}
  25%{clip:rect(89px,9999px,25px,0)}
  30%{clip:rect(15px,9999px,38px,0)}
  35%{clip:rect(57px,9999px,97px,0)}
  40%{clip:rect(24px,9999px,72px,0)}
  45%{clip:rect(81px,9999px,3px,0)}
  50%{clip:rect(93px,9999px,26px,0)}
  55%{clip:rect(68px,9999px,85px,0)}
  60%{clip:rect(43px,9999px,28px,0)}
  65%{clip:rect(44px,9999px,11px,0)}
  70%{clip:rect(17px,9999px,33px,0)}
  75%{clip:rect(74px,9999px,66px,0)}
  80%{clip:rect(100px,9999px,4px,0)}
  85%{clip:rect(92px,9999px,31px,0)}
  90%{clip:rect(93px,9999px,98px,0)}
  95%{clip:rect(23px,9999px,77px,0)}
  100%{clip:rect(92px,9999px,8px,0)}
}

h1 {
  text-align: center;
  font-family: Printvetica;
  font-size: 150px;
}

.description {
  position: relative;
  text-align: center;
  font-family: bookmaniaSemi;
  font-size: 55px;
}