@font-face {
  font-family: bookmaniaLight;
  src: url(assets/Bookmania\ Light.otf);
}
  
  .gallery {
    padding: 0 0 4rem 0;
 }

  .img-container {
    padding: 35px;
    width: 50%;
    height: 500px;
    cursor: pointer;
    overflow: hidden;
 }
  .img-container:hover .img-content-hover {
    display: block;
 }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    object-fit: contain;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
 }
  img:hover {
    transform: scale(1.05);
 }